.menu {
  list-style: none;
  
  a {
    text-decoration: none;
  }
  
  &--inline {
    li {
      display: inline-block;
    }
    li + li {
      margin-left: 0.9375rem;
    }
  }
  
  &--white {
    a {
      color: #fff;
    }
  }
  
  &__icon {
    font-size: 2rem;
  }
}