.page-section {
  padding: 1.875rem 0;
  
  @include atSmallest {
    padding: 5rem 0;
  }
  @include atMedium {
    padding: 9.375rem 0;
  }
  &__title {
    font-size: 2rem;
    
    @include atSmallest {
      font-size: 2.25rem;
    }
    @include atMedium {
      font-size: 3.75rem;
    }
    &--center {
      text-align: center;
    }
  }
  
  &--portfolio {
    background-image: url(../img/layout/portfoliobg.svg);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    @include atMedium {
      background-size: 65% 100%;
      background-position: 100% 50%;
    }
  }
}