.row {
  @include atMedium {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

    &__col-half {
      width: 50%;
      padding: 0 15px;

      &--small {
        width: 45%;
      }

      &--to-right {
        margin-left: auto;
      }
    }
  }
  @include atLarge {
    &__col-half {
      &--smaller {
        width: 35%;
      }
    }
  }
}