.row {
  padding: 1.25rem 0;
  &__col-half {
    margin-bottom: 1.875rem;
  }
  
  @include atMedium {
    .flexbox & {
      display: flex;
    }
    .no-flexbox & {
      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }
    margin-right: -15px;
    margin-left: -15px;

    &__col-half {
      width: 50%;
      padding: 0 15px;
      margin-bottom: 0;
      .no-flexbox & {
        float: left;
      }
      
      &--small {
        width: 45%;
        .no-flexbox & {
          margin-right: 5%;
          margin-left: 0;
          &.row__col-half--to-right {
            margin-left: 5%;
            margin-right: 0;
          }
        }
      }

      &--to-right {
        .flexbox & {
          margin-left: auto;
        }
      }
      
    }
    
    &--padding {
      padding: 5rem 0;
    }
    
    &--align-middle {
      .flexbox & {
        align-items: center;
      }
    }
  }
  @include atLarge {
    &__col-half {
      &--smaller {
        width: 35%;
        .no-flexbox & {
          margin-right: 15%;
          margin-left: 0;
        }
        &.row__col-half--to-right {
          margin-left: 15%;
          margin-right: 0;
        }
      }
    }
  }
}