* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: .875rem;
  line-height: 1.6;
  font-weight: $font-weight;
  @include atSmallest {
    font-size: 1rem;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-headline;
  line-height: 1.2;
  color: $color-dark;
}

a {
  color: $color-primary;
  
  &:hover {
    color: $color-secondary;
  }
}

img {
  max-width: 100%;
}