* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: $font-weight;
}

a {
  color: $color-primary;
  
  &:hover {
    color: $color-secondary;
  }
}

img {
  max-width: 100%;
}